<div class="row-fluid">
    <div class="span12">
        <h4>Home</h4>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam egestas porttitor mollis. Praesent dignissim dignissim felis sit amet laoreet. Duis ultricies tempor mi sit amet gravida. Sed scelerisque, urna sed accumsan blandit, erat ante viverra quam, in iaculis nibh purus non est. Sed ornare mauris sollicitudin lorem consectetur, vitae laoreet ligula efficitur. Integer lorem mauris, ultrices a nisl et, placerat maximus mauris. Pellentesque faucibus dui a est fringilla, sed ornare sem imperdiet.</p>
    </div>
</div>